# Keycloak (cluster kiriland, realm do grupo 3)
VITE_KEYCLOAK_URL=https://kiriland.unb.br/keycloak
VITE_KEYCLOAK_REALM=grupo03
VITE_KEYCLOAK_CLIENT_ID=pseudopep-frontend

# API Gateway (backend)
VITE_API_URL=http://localhost:8080
